h1, h3{
    font-weight: 500;
    text-shadow: 1px 1px darkorange;
}
h2{
    color: blue;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline gold;
    text-transform: none;
    letter-spacing: 0.5em;
    word-spacing: 0.5em;
    line-height: 1.5;
    text-align: center;
    font-size: 2em;
}

p{
    font-size: 1.5em;
}

ul, ol{
    font-style: italic;
}

body{
    background-color: lightgrey;
}

a{
    color: purple;
}

p{
    font-size: 1.5em;
    color: darkblue
}

#aboutMe{
    position: relative;

    display: block;
    max-width: 500px;
    text-shadow: 1px 1px lightgray;
    font-size: 1.5em;
    margin-right: 0 auto;
    margin-left: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}

#nateList{
    color: brown;
}

.favList{
    text-decoration: underline;
}

#vidList{
    color: darkred;
}

.rickRoll{
    font-size: 1em;
    color:black
}

span{
    color:black;
    font-size: 50pt;
    font-family:Arial, Helvetica, sans-serif;
}


form{
    padding: 15px;
    background-color: lightskyblue;
    font-style: italic;
    border-style: solid;
    font-weight: 900;
    width: 300px;
}

.connectForm h3{
    margin-left: 25%;
    margin-right: 25%;
    
}

input, textarea, label {

    display: block;
    width: 100%;
    border-radius: 5px;
}

input[type=button]{
    color: black;
    background-color: rgb(0, 200, 0);
    padding: 5px;
    border-radius: 0.5em;
    box-shadow: inset 0 0 0 1.5px whitesmoke;
    
}

input[type=button]:hover{
    border: solid;
    background-color: rgb(249, 122, 11);
}

input[type=text]:focus{
    color: black;
    background-color: rgb(0, 330, 0);
    width: 100%;
    transition: 2s;
}

input[type=textarea]:focus{
    color: black;
    background-color: rgb(0, 330, 0);
    width: 100%;
    height: 300px;
    transition: 2s;

}

.mainImage{
    display: block;
    margin: 0 auto;
    position: relative;
    border-radius: 80px;
    -moz-box-shadow: 10px 10px 5px rgb(42, 23, 130);
    -webkit-box-shadow: 10px 10px 5px rgb(42, 23, 130);
    box-shadow: 10px 10px 5px rgb(42, 23, 130);
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
    border-radius:25px;
}

#contactMe{

    position: relative;
    float: right;
    bottom: 1300px;
    right: 500px;

}

#div4{
    position: relative;
    float: right;
    bottom: 379px;
    right: 400px
}

table{
    width: 50%;
    border: solid;
    border-radius: 10px;
    background-color: lightcyan;
}

td, th{
    border: solid;
    
}

.dropbtn {
    background-color: darkblue;
    color: white;
    padding: 16px;
    font-size: 10px;
    border-radius: 5px;
    -moz-box-shadow: 5px 5px 5px rgb(42, 23, 130);
    -webkit-box-shadow: 5px 5px 5px rgb(42, 23, 130);
    box-shadow: 5px 5px 5px rgb(42, 23, 130);
    cursor: pointer;
  }

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdownContent a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .show {display: block;}

#connect2{
    position: relative;
    left: 25px;
}